packaging==23.1
ipython==8.14.0
colorama==0.4.6
matplotlib-inline==0.1.6
pip==23.2.1
pyarrow==12.0.1
pillow==10.0.0
click==8.1.7
plotly==5.15.0
dash-table==5.0.0
fonttools==4.40.0
selenium==4.11.2
zipp==3.16.2
matplotlib==3.7.2
openpyxl==3.1.2
requests==2.31.0
dash==2.13.0
flask==2.2.5
deprecation==2.1.0
pandas==2.0.2
dash-core-components==2.0.0
dash-html-components==2.0.0
numpy==1.25.0
sympy==1.12
scipy==1.11.1
dash-bootstrap-components==1.4.2
envs==1.4
db-dtypes==1.1.1
contourpy==1.1.0
dash-extensions==1.0.3